.grupo1 {
    width: 700px;
    height: 400px;
    margin: auto;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}
.form-check {
    text-align: center;
}

.grupo2 {
    display: flex;
}


.imagem {
    width: 150px;
    height: 150px;
}