* {
    background-color: white;
}

.bloco-primario {
    display: flex;
    justify-content: center;
    align-items: center;
}



#enviar {
    margin: 10px;
    justify-content: center;
}
html{
    --background: white;
    --text: black;
}